---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";
import Accordion from "@components/accordion.astro";

const pricing = [
  {
    name: "Personal & Start Ups",
    price: "149 MYR",
    popular: false,
    features: [
      "Volume Orders < 50 Monthly",
      "1 Custom Domain",
      "1 Online Storefront (Website)",
      "Template Design",
      "Basic Integrations",
      "Basic Support",
    ],
    button: {
      text: "Contact Us",
      link: "/contact",
    },
  },
  {
    name: "Startup & SMEs",
    price: {
      monthly: "649 MYR",
      annual: "7000 MYR",
      discount: "5%",
      original: "799 MYR",
    },
    popular: true,
    features: [
      "Volume Orders < 200 Monthly",
      "Up to 3 Custom Domains",
      "Up to 3 Online Storefronts",
      "Template Design (with Addons)",
      "Advanced Integrations",
      "Priority Support",
    ],
    button: {
      text: "Contact Us",
      link: "/contact",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "Unlimited Orders",
      "Competitive SEOs",
      "Full Custom Designs",
      "99.99% Uptime SLA",
      "Advanced Integrations",
      "Priority Support",
    ],
    button: {
      text: "Contact Us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">E-Commerce Storefront Pricing</Fragment>
      <Fragment slot="desc"
        >Simple & Predictable pricing. No Surprises.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
    <Sectionhead>
      <Fragment slot="title">Compare all plans</Fragment>
      <Fragment slot="desc">Pick out which one is right for you.</Fragment>
    </Sectionhead>
    <div class="mx-auto max-w-screen-lg mt-12">
      <Accordion />
    </div>
  </Container>
</Layout>
