---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Terms of Service">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Terms of Service</Fragment>
      <Fragment slot="desc">By EasyAccel</Fragment>
    </Sectionhead>
    <div>
      <div class="card w-100 bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Terms of Service</h2>
          <p>This section will be expanded soon!</p>
        </div>
      </div>
    </div>
  </Container>
</Layout>
