---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Personal & Start Ups",
    price: "100 MYR",
    popular: false,
    features: [
      "Volume Orders < 10 Monthly",
      "1 Custom Domain",
      "1 Online Storefront",
      "Designed based on Templates",
      "Basic Integrations",
      "Basic Support",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Startup & SMEs",
    price: {
      monthly: "350 MYR",
      annual: "4000 MYR",
      discount: "5%",
      original: "450 MYR",
    },
    popular: true,
    features: [
      "Volume Orders < 100 Monthly",
      "2 Custom Domains",
      "Up to 3 Online Storefronts",
      "Unlimited Collaborators",
      "Advanced Integrations",
      "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited Custom Domains",
      "99.99% Uptime SLA",
      "SAML & SSO Integration",
      "Dedicated Account Manager",
      "Priority Support",
    ],
    button: {
      text: "Contact Us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">E-Commerce Storefront Pricing</Fragment>
      <Fragment slot="desc"
        >Simple & Predictable pricing. No Surprises.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
