---
import { RightArrow } from "@components/ui/icons";}
const { title, children } = Astro.props;
---

<li tabindex="0">
  <a class="btn btn-ghost rounded-btn justify-start">
    {title}
    <RightArrow />
  </a>
  <ul tabindex="0" class="p-2 shadow bg-white dark:bg-black">
    {
      children.map((each) => (
        <li>
          <a href={each.path}>{each.title}</a>
        </li>
      ))
    }
  </ul>
</li>
