---
const { title, open } = Astro.props;
---

<div
  class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box my-4">
  <input type="checkbox" class="peer" checked={open} />
  <div class="collapse-title text-xl font-medium peer-checked:bg-primary peer-checked:text-white rounded-t-box dark:peer-checked:text-black">{title}</div>
  <div class="collapse-content">
    <slot />
  </div>
</div>
