---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl">
    Malaysia's Easiest Ecommerce Provider
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Packed full with features for a reasonable price. EasyAccel will skyrocket
    your business using the latest technologies, hassle free.
  </p>
  <div class="flex mt-5">
    <Link href="#" style="inverted">Find out more!</Link>
  </div>
</div>
