---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Fast, Seriously.",
    description:
      "Our websites and apps are faster than our competitors, delivering top-tier user experience and better search engine optimizations.",
    icon: "bx:bx-tachometer",
  },
  {
    title: "Hassle Free",
    description:
      "Let us deal with the hassle of creating the E-Commerce Platform for you. Spend more time running the business than thinking about the business!",
    icon: "bx:bx-timer",
  },
  {
    title: "Ultra-Modern",
    description:
      "EasyAccel creates beautiful solutions that uses bleeding edge technologies that ensures longevity and competitiveness.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Scalable",
    description:
      "If your business grows into an overnight success, we can scale immediately & hassle-free, period.",
    icon: "bx:bx-line-chart",
  },
  {
    title: "Broad Integrations",
    description:
      "Our solutions can be interlinked with future features such as Analytics, Customer Mailing Lists and so much more!",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Optimized 100%",
    description:
      "Let your customers find you on Google! Our SEO methods will promote a high search ranking to reach a wider audience.",
    icon: "bx:bxs-file-find",
  },
];
---

<div class="mt-16 md:mt-0" id="features">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Why choose EasyAccel over other options?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    EasyAccel is a highly dedicated and bleeding edge firm focusing on providing
    the best value to customers for the lowest price possible.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
