<footer class="my-20">
  <p class="text-center text-sm -500">
    Copyright © {new Date().getFullYear()} EasyAccel. All rights reserved.
  </p>
  <div class="flex justify-center gap-1">
    <p class="text-center text-xs -500 mt-1">
      Made by <a
        href="/"
        rel="noopener"
        class="hover:underline">
         EasyAccel
      </a>
    </p>
    <p class="text-xs -500 mt-1">|</p>
    <p class="text-center text-xs -500 mt-1">
      <a href="/legal/terms" rel="noopener" class="hover:underline"
        >Terms of Service</a
      >
    </p>
    <p class="text-xs -500 mt-1">|</p>
    <p class="text-center text-xs -500 mt-1">
      <a href="/legal/privacy" rel="noopener" class="hover:underline"
        >Privacy Policy</a
      >
    </p>
  </div>
</footer>
