---
import { Image } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<style>
  :global(html) {
    /* ...TRUNCATED */

    color: hsl(
      var(--colour-text-hue) var(--colour-text-saturation)
        var(--colour-text-luminance)
    );

    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
  }
</style>

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-8">
  <div class="py-6 md:order-1 hidden md:block">
    <Image
      src={heroImage}
      alt="Astronaut Relaxing As Rocket Takes Off"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight">
      Cheapest <br /> E-Commerce <br /> Provider
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      EasyAccel helps you create and grow your online presence via a powerful
      E-Commerce platform with features such as reaching a wider audience on
      Google, Customer Mail Lists, Custom E-Mail Hosting, Analytics and so much more, all at a insanely low cost!
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#features"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bx-arrow-to-bottom" />
        Learn More</Link
      >
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/ecommerce"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="bx:bx-dollar" />
        Pricing</Link
      >
    </div>
  </div>
</main>
