---
import { Image } from "@astrojs/image/components";
import heroImage from "assets/easyaccelhero.png";
import { Icon } from "astro-icon";
---

<style>
  :global(html) {
    /* ...TRUNCATED */

    color: hsl(
      var(--colour-text-hue) var(--colour-text-saturation)
        var(--colour-text-luminance)
    );

    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
  }
</style>

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-8">
  <div class="py-6 md:order-1 hidden md:block">
    <Image
      src={heroImage}
      alt="Astronaut Gliding"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight">
      Easiest <br /> E-Commerce <br /> Provider
    </h1>
    <p class="text-lg mt-4 max-w-xl">
      EasyAccel will quickly and easily help you create and grow your online
      presence via a powerful E-Commerce Platform packed wide-range of features,
      all at a low cost!
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <a href="#features" class="btn" rel="noopener">
        <Icon class="w-5 h-5 pr-2" name="bx:bx-book-reader" />
        Learn More</a
      >
      <a href="/pricing/ecommerce" class="btn btn-outline" rel="noopener">
        <Icon class="w-4 h-4 pr-1" name="bx:bx-dollar" />
        Pricing</a
      >
    </div>
  </div>
</main>
